.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.grid-item {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

img {
  height: 160px;
  width: 240px;
}

.grid {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 45px;
}